html{
    margin:0;
    padding:0;
}
body {
    background: #445566;
    font-size: 15px;
}
.container{
    background: #bbb9a9;
    height: 100vh;
    width: 100vm;
    margin: 0 5%;
    text-align:center;
}
.first-box{
    padding: 1%;
    font-size: 1.2em;
}
.sections{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.section{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /*flex-direction: column;*/
    background: antiquewhite;
    border-radius: 5% 5% 10% 10%;
    width: 45%;
    margin: 10px;
    box-shadow: #1412 2px 2px 2px 3px;
}
.box-container{
    display: flex;
    justify-content: space-evenly;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3px;
    width:40%;
    height:120px;
    background: #81961a;
    margin:5px;
    border-radius: 10%;
    align-items: center;
}
.little-box{
    display: flex;
    padding: 5px   ;
    height: 20px;
    background: #fa6500;
}
.box:first-child{
    justify-content: flex-end;
}
.box:nth-child(2){
    justify-content:flex-start;
}
.box:nth-child(3){
    justify-content:space-around;
}
.little-box:focus{
    background: #fa6500;
    color: #445566;
}

@media only screen and (max-width: 500px){
    .sections{
        flex-wrap: wrap;
        text-align: center;
    }
    .section1, .section2{
        width: 100%;
    }
}